@import "src/app/component/mixins.scss";

.grid {
    position: relative;
    margin-bottom: 8px;

    ul {
        display: flex;
        height: 100%;
        margin: 0%;
        padding: 0%;
        flex-wrap: wrap;
        list-style: none;

        li {
            flex: 0 33.3%;
        }

        @include media-max-width($max-widths, lg) {
            li {
                flex: 0 50%;
            }
        }

        @include media-max-width($max-widths, sm) {
            li {
                flex: 0 100%;
            }
        }
    }
}